In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Pre-PlacementDataset.csv")
df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4,56.00,52.00,52.00,66.0,59.43,0.0,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5,85.80,73.60,73.30,96.8,55.50,425000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,80.60,82.00,77.60,91.0,74.49,400000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215,62.00,58.00,53.00,89.0,60.22,0.0,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [3]:
df.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [4]:
from scipy.stats import ttest_ind
"T-test is mainly used for find the similarity between two features"
"p-value should not be above 5% "
"if the value is above 5% we have to reject"

'if the value is above 5% we have to reject'

In [5]:
"Independent Sample Unpaired t-test"
"two Group(male,female) single condition (salary)"
male=df[df["gender"]=="M"]["salary"]
female=df[df["gender"]=="F"]["salary"]
ttest_ind(male,female)

TtestResult(statistic=2.1103433958668765, pvalue=0.03599560646745178, df=213.0)

In [6]:
"dependent Sample Paired t-test"
"single Group(male) single condition (ssc_p,hsc_p)"
ssc_p=df[df["gender"]=="M"]["ssc_p"]
hsc_p=df[df["gender"]=="M"]["hsc_p"]
ttest_ind(ssc_p,hsc_p)

TtestResult(statistic=0.462536606114424, pvalue=0.6440609938866582, df=276.0)

In [7]:
" t-test Assignment"

' t-test Assignment'

In [8]:
Commerce=df[df["hsc_s"]=="Commerce"]["mba_p"]
Science=df[df["hsc_s"]=="Science"]["mba_p"]
ttest_ind(Commerce,Science)

TtestResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314, df=202.0)

In [9]:
"""Hypothesis Testing
# Hypothesis is ippo yarachum question munvaikkum bodhu adha accept 
pannikalama illa reject pannalama apdingradha theermanikiradhu indha hypothesis velai
# for example commerce and science la mba_p la same mark nu question munvaikiranga
inga naama checke panna porom hypothesis use panni idha accept pannalama venama nu adhan Hypothesis test.
# H0=null hypothisis - # there is no significant value
# H1=alternative hypothisis - # there is significant value
# if p<0.05 -H1 is Accepted H0 Rejected
# if p>0.05 - H0 is Accepted H1 Rejected"""

'if p>0.05 - H0 is Accepted H1 Rejected'

In [10]:
"""Commerce=df[df["hsc_s"]=="Commerce"]["mba_p"]
   Science=df[df["hsc_s"]=="Science"]["mba_p"]
   ttest_ind(Commerce,Science)

# output is TtestResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314, df=202.0)

# here the p value is above 5% so H0 is accepted H1 is rejected """
"h0-accepted appo there is no significant value apdina commerce and science la mba_p la same mark illa nu soldrom "

'# here the p value is above 5% so H0 is accepted H1 is rejected '